{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create New Bank Account{% endblock %}

{% block content %}
    <br><br>
    <div class="container col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="m-auto">Create New Bank Account</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-lg-6">{{ form.party|as_crispy_field }}</div>
                        <div class="form-group col-lg-6">{{ form.account_holder|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">{{ form.acc_no|as_crispy_field }}</div>
                        <div class="form-group col-lg-6">{{ form.ifsc_code|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">{{ form.bank_name|as_crispy_field }}</div>
                        <div class="form-group col-lg-6">{{ form.branch_name|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="float-left col-lg-6">
                            <button class="btn btn-indigo" onclick="goBack()"><i class="fa fa-arrow-left"></i> Go Back</button>
                        </div>
                        <div class="col-lg-6 float-right">
                            <div class="float-right">
                                <button class="btn btn-danger" type="reset">Reset</button>
                                <button class="btn btn-primary" type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}

    <script>
        function assignPTID() {
            let url_string = window.location.href;
            let url = new URL(url_string);
            let ptid = url.searchParams.get("ptid");
            if (ptid){
                $("#id_party").val(ptid);
            }

        }

        // Onlaod All Functions to be called from here
        $(function () {
            assignPTID();
        });
    </script>
{% endblock %}